<!-- header -->
<div id="top" class="header">
  <div class="vert-text">
    <h1>livepost</h1>
    <h4 align="center" style="color:red;font-weight:bold;position:relative;top:-65px;right:-135px;display:inline;">alpha</h4>
    <div id="buttons" style="margin-top:15px;">
      <!-- Button trigger modal -->
      <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#loginModal">
        Sign in
      </button>
    </div>
  </div>
</div>
<!-- /header -->   
<!-- Intro -->
<div id="about call-to-action" class="intro">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h3 align="center">Livepost.io offers a unique community of social like-minded individuals whom like to talk to others. It's easy, fun, and entertaining. Simply, a nice place to chat. So introduce yourself to some new folks, invite you friends, and get the party started!</h3>
      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

<!-- Call to Action -->
<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3>What are you waiting for? <%= link_to "Join today!", signup_path %></h3>
      </div>
    </div>
  </div>
</div>
<!-- /Call to Action -->


<!-- sign in modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
          <%= form_for :session, url: sessions_path, class: "form-signin" do |f| %>
          <%= f.text_field :email, class: "form-control", placeholder: "Email Address" %>
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          <div align="center">
            <%= f.submit "Go", class: "btn btn-large btn-primary", style: "width: 200px;" %>
          </div>
          <% end %>
      </div>
      <div class="modal-footer" style="padding-top:0px;padding-bottom:10px;">
      <%= link_to "New user?", signup_path, style: "display:block;margin-top:10px;font-weight:bold"  %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- for pretty scroll down action -->
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
          || location.hostname == this.hostname) {
        
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>
