<% provide(:title, "Sign in") %>
<div class="signin">
  <row>
    <div class="col-md-6 col-md-offset-3" style="padding-top:5px;margin-top: 10%;">
      <div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
        <div class="panel panel-body">
          <h1 class="form-signin-heading"><b>Sign in</b></h1>
          <div id="user-widget" align="center" style="margin-bottom:5px;">
    			<%= link_to image_tag("FacebookLogin.png", style: 'height:45px; margin-left:-1px; width; 205px;', :border=>0), "/auth/facebook", id: "sign_in" %>
          </div>
          <div id="user-widget" align="center">
    			<%= link_to image_tag("Twitter-login.png", style: 'height:42px; margin-bottom:10px; margin-top:5px; margin-left:-1px; width; 205px;', :border=>0), "/auth/twitter", id: "sign_in" %>
          </div>
          <div class="vline" style="margin-bottom: 3px;margin-top: 5px;"></div>
          <%= form_tag "/auth/identity/callback" do %>
          <div class="control-group short-control-group">
          	<%= label_tag :auth_key, "Email" %>
          	<div align="center" style="margin-top:-5px;">
            	<%= text_field_tag :auth_key %>
            </div>
          </div>
          <div class="control-group short-control-group" style="margin-top:5px;">
          	<%= label_tag :password %>
          	<div align="center" style="margin-top:-5px;">
            	<%= password_field_tag :password %>
          	</div>
          </div>
          <div align="center" style="margin-top:5px;">
            <%= submit_tag "Login", class: "btn btn-default" %>
          </div>
        <% end %>
        </div>
        <div class="panel panel-footer">
              <%= link_to "Create an account", new_identity_path, style: 'color: rgb(0, 116, 217)' %>
        </div>
      </div>
    </div>
  </row>
</div>