            <div class="sentpost" id="<%= @post.id %>" style="width: 95%">
              <div style="display:inline-block;position:relative;">
                <%= gravatar_for @post.user %>
                <%= link_to @post.user_name, @post.user %>
                <br/>
            <%= auto_link(@post.post) %>
      			<%= link_to "", chatlog_chatpost_path(@chat, @post), method: :delete, remote: true, title: "Delete this post", class: "glyphicon glyphicon-remove", style: "float:right;margin-right:10px;padding-left:0px;margin-left:25px;" %>
            </div>