<% provide(:title, 'Edit profile') %>
<div class="showuser">
<row>
<div class="col-md-6 col-md-offset-3" style="margin-top: 6%;">
<div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
<div class="panel panel-body">
<h3 class="form-signin-heading" align="center"><b><%= @user.name.titleize %>'s profile</b></h3>
		<%= form_for @user, class: "form-signin" do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.text_field :name, class: "form-control", placeholder: "Your name" %>
			<%= f.text_field :email, class: "form-control", placeholder: "Email Address" %>
			<br>
			<p align="center">Change your password:</p>
			<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
			<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
			<div align="center">
			<%= f.submit "Update", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
</div>
</div>
</div>
</row>
</div>
