<% provide(:title, 'Sign up') %>
<div class="signup">
  <row>
    <div class="col-md-6 col-md-offset-3" style="padding-top:5px;margin-top: 10%;">
      <div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
        <div class="panel panel-body">
          <h1 class="form-signin-heading"><b>Sign up</b></h1>
          <%= form_for @user, class: "form-signin" do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_field :name, class: "form-control", placeholder: "Your name" %>
          <%= f.text_field :email, class: "form-control", placeholder: "Email Address" %>
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
          <div align="center">
                        <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <div align="left">
                      Social Media (optional)
                    </div>
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <div align="left"><span class="label label-default">Twitter</span></div>
                  <%= f.text_field :twitter_id, class: "form-control", placeholder: "Twitter username" %>
                  <div align="left"><span class="label label-default">Facebook</span></div>
                  <%= f.text_field :facebook, class: "form-control", placeholder: "Facebook profile URL" %>
                  <div align="left"><span class="label label-default">LinkedIn</span></div>
                  <%= f.text_field :linkedin, class: "form-control", placeholder: "LinkedIn profile URL" %>
                </div>
              </div>
            </div>
            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <div align="left">
                    Location (optional)
                    </div>
                  </a>
                </h4>
              </div>
                <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <div align="left"><span class="label label-default">Location</span></div>
                  <%= f.text_field :location, class: "form-control", placeholder: "Your location" %>
                </div>
              </div>
              </div>
            </div>         
            <br />
          <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </row>
</div>
