<% thisuser ||= current_user %>
<% if thisuser.super_user == true %>
	<li><%= link_to thisuser do %> <%= thisuser.name %> <span class="label label-danger">SuperAdmin</span><% end %></li>
<% elsif @chat.administrators.include?(thisuser.email) %>
	<li><%= link_to thisuser do %> <%= thisuser.name %> <span class="label label-danger">Admin</span><% end %></li>
<% else %>
	<li><%= link_to thisuser.name, thisuser %></li>
<% end %>