<a id="users-toggle" class="btn btn-primary btn-lg toggle"><i class="fa fa-users"></i></a>
<div id="sideusers" class="leather">
	<ul class="sidebar-nav">
		<a id="users-close" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><%= link_to "User list", nil %></li>
		<div id="userlist" style="overflow-y: hidden;">
        	<% @usershere.each do |x| %>
        <% y = User.find_by_id(x) %>
        <% if y == nil %>
          <li>Guest</li>
				<% elsif y.name.include?("guest_") %>
          <li><%= link_to y.name, y %></li>
        <% elsif y.super_user == true %>
					<li><%= link_to y do %> <%= y.name %> <span class="label label-danger">SuperAdmin</span><% end %></li>
				<% elsif @chat.administrators.include?(x.email) %>
					<li><%= link_to y do %> <%= y.name %> <span class="label label-danger">Admin</span><% end %></li>
				<% else %>
					<li><%= link_to y.name, y %></li>
				<% end %>
			<% end %>
		</div>
	</ul>
</div>
<script>
$("#users-close").click(function(e) {
	e.preventDefault();
	$("#sideusers").toggleClass("active");
});
$("#users-toggle").click(function(e) {
	e.preventDefault();
	$("#sideusers").toggleClass("active");
});
</script>