<table id="chatlog" style="max-height: 300px;max-width: 97%;">
<% if @chatposts.count == 0 %>
<tr><td>
	No posts
</td></tr>
<% else %>
<% @chatposts.each do |x| %>
<% if x != nil %>
<tr><td height="70px" width="95%">
	<% @users.each do |y|%>
	<% if y.name == x.username %>
	<% @postuser = y %>
	<% end %>
	<% end %>
	<%= gravatar_for @postuser %><%= link_to x.username, @postuser %>
	<div class="popover fade right in" style="display: inline-block; position: relative;">
	<div class="arrow"></div>
	<div class="popover-content">
	<%= x.post %>
	</div>
	</div>
	<td>
	<p style="float: right;" class="small"><%= x.created_at.to_datetime.strftime('%H:%M %D')  %></p>
	</td>
	<% @chat.administrators.each do |z| %>
	<% if z == current_user.email %>
		<td>
			<%= link_to "", chatlog_chatpost_path(@chat, x), method: :delete, title: "Delete this post", class: "glyphicon glyphicon-remove", style: "float: right;margin-right:10px;padding-left: 0px;margin-left:25px;" %>
		</td>
	<% end %>
	<% end %>
</tr>
<% end %>
<% end %>
<% end %>
</table>
