  <div class="panel panel-default" style="padding-bottom: 0px; margin-bottom: 0px;height: 88%">
    <h3 class="form-signin-heading" align="center"><b><%= @chat.chatname.titleize %></b></h3>
    <div class="panel panel-body chatscroll" style="overflow-y: hidden;height: 500px;width:96%;position: relative;margin-top:5%;" id="chatscroll">
          <% if @posts.empty? %>
                No posts. Start the conversation!
          <% else %>
            <% @posts.each do |post| %>
            <div style="height: 50px; width: 95%" class="sentpost" id="<%= post.id %>">
                <%= gravatar_for post.user %>
                <%= link_to post.user.name, @post_user %>
                <div class="popover fade right in" style="display:inline-block;position:relative;">
                  <div class="arrow"></div>
                  <div class="popover-content">
                    <%= auto_link(post.post) %>
                  </div>
                </div>
                <p style="float: right;" class="small">
                  <%= post.created_at.to_datetime.strftime('%H:%M %D')  %>
                </p>
              <% if (@chat.administrators.detect {|id| id == current_user.id}) or (current_user.super_user == true) then %>
                  <%= link_to "", chatlog_chatpost_path(@chat, post), method: :delete, remote: true, title: "Delete this post", class: "glyphicon glyphicon-remove", style: "float:right;margin-right:10px;padding-left:0px;margin-left:25px;" %>
              <% end %>
            </div>
            <% end %>
          <% end %>
    </div>
    </div>