      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="width: 65%;margin-left: 15%;background-color: transparent;border-bottom: none;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="width: 100%">
	<h3 style="color: #fff; width: 100%" align="center"><b><%= @chat.chatname.titleize %></b></h3>
</div>
</nav>
  <div class="panel panel-default" style="padding-bottom: 0px; margin-bottom: 0px;height: 100%">
    <div class="panel panel-body chatscroll" style="overflow-y: hidden;width:100%;height: 100%;position: fixed;bottom: 35px;" id="chatscroll">
          <% if @posts.empty? %>
                No posts. Start the conversation!
          <% else %>
          <div style="padding-top: 80px;"></div>
            <% @posts.each do |post| %>
            <div style="height: 50px; width: 95%" class="sentpost" id="<%= post.id %>">
                <%= gravatar_for post.user %>
                <%= link_to post.user.name, post.user %>
                <div class="popover fade right in" style="display:inline-block;position:relative;">
                  <div class="arrow"></div>
                  <div class="popover-content">
                    <%= auto_link(post.post) %>
                  </div>
                </div>
                <p style="float: right;" class="small">
                  <%= post.created_at.to_datetime.strftime('%H:%M %D')  %>
                </p>
              <% if (@chat.administrators.detect {|id| id == current_user.id}) or (current_user.super_user == true) then %>
                  <%= link_to "", chatlog_chatpost_path(@chat, post), method: :delete, remote: true, title: "Delete this post", class: "glyphicon glyphicon-remove", style: "float:right;margin-right:10px;padding-left:0px;margin-left:25px;" %>
              <% end %>
            </div>
            <% end %>
          <% end %>
    </div>
    </div>
<script>
	document.getElementById('chatscroll').scrollTop = 9999999;
</script>