<div class="col-md-10 col-md-offset-1" style="padding-top:5px;">
<div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
<div class="panel panel-body">
<%= form_for :chatparams, url: chatlog_path(@chat.id),:method => :patch, :remote => true, :html => { :id => "newpost"} do |f| %>
  <%= f.label :username, "Name:" %> <%= f.text_field :username %>
  <%= f.label :post, "Message:" %> <%= f.text_area :post, :rows => 5 %>
  <%= submit_tag "Send" %>
<% end %>
</div>
</div>
</div>