<% provide(:title, "Browse Chats") %>

<div class="chatlogs">
  <row>
    <div class="col-md-10 col-md-offset-1" style="padding-top:5px;margin-top: 3%;">
      <div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
        <div class="panel panel-body">
          <h1 class="form-signin-heading"><b>Browse Chats</b></h1>
          <div style="max-height: 350px; overflow-y: hidden;position: relative;" id="chatscroll">
            
            <!-- start chat list section -->
            <!-- if there are no chats, let the user know -->
            <% if @publicchats.blank? and @privatechatsallowed.blank? %>
            <p align="center">No chats active, <%= link_to "start a new chat",  new_chatlog_path %>?</p>
            
            <!-- if there are chats available -->
            <% else %>
            
            <h4 align="center">Public Chats</h4>
            
            <div class="list-group">
              <!-- make sure we have public chats to actually show -->
              <% if @publicchats.blank? %>
              <div class="well">
                <p>No public chats active, <%= link_to "start a new chat",  new_chatlog_path %>?</p>
              </div>
              <% end %>
              <!-- list all available public chats -->
              <% @publicchats.each do |chat|%>
              <%= link_to chat, class: "list-group-item", style: "height:50px;" do %>
              <h4 class="list-group-item-heading" style="float: left;"><%= chat.chatname.titleize %></h4>
              <p class="list-group-item-text" style="display: inline-block; float: right;">Started on: <%= chat.created_at.to_s.to_datetime.strftime('%D %H:%M ') %>
                <% if (chat.administrators.detect {|id| id == current_user.id}) or (current_user.super_admin == true})) then %>
                <%= button_to "Delete", chat, method: :delete, title: "Delete this chat", data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs", style: "margin-left: 20px;" %>
                <% end %>
              </p>
              <% end %>
              <% end %>
              
              <!-- end list all public chats -->
            </div>
            
            <h4 align="center">My Private Chats</h4>
            
            <div class="list-group">
              <!-- make sure we have private chats to actually show -->
              <% if @privatechatsallowed.blank? %>
              <div class="well">
                <p align="center">No private chats active, <%= link_to "start a new private chat",  new_chatlog_path %>?</p>
              </div>  
              <% end %>
              <!-- list all available private chats -->
              <% @privatechatsallowed.each do |chat| %>
              <%= link_to chat, class: "list-group-item", style: "height:50px;" do %>
              <h4 class="list-group-item-heading" style="float: left;"><%= chat.chatname.titleize %></h4>
              <p class="list-group-item-text" style="display: inline-block; float: right;">Started on: <%= chat.created_at.to_s.to_datetime.strftime('%D %H:%M ') %>
                <% if (chat.administrators.detect {|id| id == current_user.id}) then %>
                <%= button_to "Delete", chat, method: :delete, title: "Delete this chat", data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs", style: "margin-left: 20px;" %>
                <% end %>
              </p>
              <% end %>
              <% end %>
              <!-- end list all private chats -->
            </div>
            
            <% end %>
            <!-- end of chat list section -->
            
          </div>
          <p style="margin-top: 50px; border-top: solid"><%= link_to "Start a new chat!", new_chatlog_path %></p>
        </div>
      </div>
    </div>
  </row>
</div>
