<% provide(:title, "Browse Chats") %>
      <div class="panel panel-default" style="padding: 0; margin: 0;width: 60%;margin-left:20%;margin-top: 5%;">
        <div class="panel panel-body" style="background-color: #fff;">
          <h1 class="form-signin-heading"><b>Browse Chats</b></h1>
          <div align="center" style="max-height: 80%; overflow-y: hidden;" id="chatscroll">
            <!-- if there are no chats, let the user know -->
            <% if @publicchats.blank? and @privatechatsallowed.blank? %>
            	<p align="center">No chats active, <%= link_to "start a new chat",  new_chatlog_path %>?</p>
            <% else %>
            	<h4>Public Chats</h4>
            	<div class="list-group">
              		<!-- make sure we have public chats to actually show -->
              		<% if @publicchats.blank? or @publicchats.nil? %>
              			<div class="well">
                		<p>No public chats active, <%= link_to "start a new chat",  new_chatlog_path %>?</p>
              			</div>
              		<% end %>
              <!-- list all available public chats -->
              <% @publicchats.each do |chat|%>
                <!-- link to each chat -->
                <%= link_to chat, class: "list-group-item", style: "padding: 0;background-color: #fff;" do %>
                <!-- add a nice popover to view the latest post -->
                <div style="height: 50px;" data-toggle="popover-bottom" data-content='
                                                                   <% if chat.chatpost.last != nil %>
                                                                     Latest post:
                                                                     <%= chat.chatpost.last.post %>
                                                                   <% else %>
                                                                     No new posts
                                                                   <% end %>
                '>
                  <!-- div to properly format list-item text -->
                  <div style="padding-top:15px;padding-left: 15px;padding-right: 15px;">
                    <h4 class="list-group-item-heading" style="float: left;"><%= chat.chatname.titleize %></h4>
                    <p class="list-group-item-text" style="display: inline-block; float: right;font-size: 11px;margin-top:7px;">
                      Started on <%= chat.created_at.to_s.to_datetime.strftime('%D %H:%M ') %>
                    </p>
                  </div>
                </div>
                <% end %>
                   <!-- if user is an admin or super admin, allow them to delete the chat -->
              <div style="padding-bottom: 35px;">
                    <% if current_user != nil and (chat.administrators.detect {|id| id == current_user.id}) or  current_user != nil and current_user.super_user == true %>
                      <%= link_to "Delete", deletechat_path(chat), title: "Delete this chat", data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs", style: "display: inline-block;margin-left: 20px;float: right;" %>
                    <% end %>
              </div>
              <% end %>
              <!-- end list all public chats -->
            </div>

            <h4>Private Chats</h4>

            <div class="list-group">
              <!-- make sure we have private chats to actually show -->
              <% if @privatechatsallowed.blank? or @privatechatsallowed.nil? %>
              <div class="well" style="padding: 10px;padding-bottom: 5px;">
          		<% if  current_user != nil and !current_user.name.include?("guest_") %>
                <p align="center" style="margin-top: 5px;">No private chats active, <%= link_to "start a new private chat",  new_chatlog_path %>?</p>
              	<% else %>
              		<p align="center">Private chats not allowed for guest accounts </p>
              	<% end %>
              </div>
              <% else %>
              <!-- list all available private chats -->
              <% @privatechatsallowed.each do |chat| %>
                <!-- link to each chat -->
                <%= link_to chat, class: "list-group-item", style: "padding: 0;background-color: #fff;" do %>
                <!-- add a nice popover to view the latest post -->
                <div style="height: 50px;" data-toggle="popover-top" data-content='
                                                                   <% if chat.chatpost.last != nil %>
                                                                     Latest post:
                                                                     <%= chat.chatpost.last.post %>
                                                                   <% else %>
                                                                     No new posts
                                                                   <% end %>
                '>
                  <!-- div to properly format list-item text -->
                  <div style="padding-top:15px;padding-left: 15px;padding-right: 15px;">
                    <h4 class="list-group-item-heading" style="float: left;"><%= chat.chatname.titleize %></h4>
                    <p class="list-group-item-text" style="display: inline-block; float: right;font-size: 11px;margin-top:7px;"> Started on <%= chat.created_at.to_s.to_datetime.strftime('%D %H:%M ') %> by <%= chat.created_by %>
                    </p>
                  </div>
                </div>
              <% end %>
                    <!-- if user is an admin or super admin, allow them to delete the chat -->
              <div style="padding-bottom: 35px;">
                    <% if current_user != nil and (chat.administrators.detect {|id| id == current_user.id}) or  current_user != nil and current_user.super_user == true %>
                      <%= link_to "Delete", deletechat_path(chat), title: "Delete this chat", data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs", style: "display: inline-block;margin-left: 20px;float: right;" %>
                    <% end %>
              </div>
              <% end %>
              <!-- end list all private chats -->
            </div>
            <% end %>

            <% end %>
            <!-- end of chat list section -->

          </div>
          <% if  current_user != nil and !current_user.name.include?("guest_") %>
          <p style="margin-top: 50px;width: 80%;margin-left: 10%"><%= link_to "Start a new chat!", new_chatlog_path, class: "btn btn-primary btn-block" %></p>
          <% end %>
          <% if  current_user != nil and current_user.admin == true %>
          	<p style="margin-top: 50px;width: 80%;margin-left: 10%"><%= link_to "Start a new public chat", newpublic_path, class: "btn btn-primary btn-block" %></p>
          <% end %>
        </div>
      </div>