<% provide(:title, @chat.chatname.titleize) %>
<% content_for :header do %>
<%= javascript_include_tag "fancychat" %>
<%= stylesheet_link_tag "fancychat" %>
<% end %>

            <h2 class="ss-subtitle"><%= @chat.chatname.titleize %></h2>
			<!--<div id="ss-links" class="ss-links">
				<a href="#november">Nov</a>
				<a href="#october">Oct</a>
				<a href="#september">Sep</a>
				<a href="#august">Aug</a>
				<a href="#july">Jul</a>
				<a href="#june">Jun</a>
			</div>-->


<div id="ss-container" class="ss-container">
  <% @chatposts.each do |x| %>
  <% if x != nil %>
  <% @users.each do |y|%>
	<% if y.name == x.username %>
	<% @postuser = y %>
  <% end %>
	<% end %>
    <div class="ss-row ss-small">
        <div class="ss-left">
          <%= link_to x.username, @postuser, class: "ss-circle", style: "background-image:url(#{gravatar_url_for @postuser});" %>
        </div>
        <div class="ss-right">
            <h3>
                <span><%= x.created_at.to_datetime.strftime('%H:%M %D')  %></span>
                <a href="#"><%= x.post %></a>
            </h3>
        </div>
    </div>
<% end %>
<% end %>
  
    <!-- more rows... -->
</div>
<div class="col-sm-8 col-sm-offset-2" style="padding-top:5px;margin-top: 2%;">
<div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
<div class="panel panel-body">
<%= render 'chatlogs/newpost' %>
</div>
</div>
</div>