<% provide(:title, @chat.chatname.titleize) %>
<div class="chatlog">
<row>
<div class="col-md-6 col-md-offset-3" style="margin-top: 6%;">
<div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
<div class="panel panel-body">
<h3 class="form-signin-heading" align="center"><b><%= @chat.chatname.titleize %></b></h3>
<%= render 'chatlogs/chatlog' %>
<%= subscribe_to '/chatlogs/#{@chat.id}/create' %>
<%= subscribe_to '/chatlogs/#{@chat.id}/chatposts/create' %>
</div>
</div>
</div>
<div class="col-md-6 col-md-offset-3" style="padding-top:5px;margin-top: 2%;">
<div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
<div class="panel panel-body">
<%= render 'chatlogs/newpost' %>
</div>
</div>
</div>
</row>
</div>
