<% provide(:title, @chat.chatname.titleize) %>

<% content_for :header do %>
<%= javascript_include_tag "chatlogs" %>
<% end %>

<div class="chatlog">
  <row>
   <%= render 'chatlogs/chatlog' %>
   <%= render 'chatlogs/userlist' %>
   <%= render 'chatlogs/newpost' %>
  </row>
</div>
<% @chatsubscribe = "/#{@chat.id}/update" %>
<%= subscribe_to @chatsubscribe %>

<!-- subscribe to the current users list -->
<% @usersubscribe = "/#{@chat.id}/" %>
<%= subscribe_to @usersubscribe %>
<!-- end of user list subscription code -->
