<% provide(:title, @chat.chatname.titleize) %>

<% content_for :header do %>
<%= javascript_include_tag "chatlogs" %>
<% end %>

<div class="chatlog">
  <row>
    <div class="col-sm-9" style="margin-top: 3%;padding-right:0px;">
  <div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
    <h3 class="form-signin-heading" align="center"><b><%= @chat.chatname.titleize %></b></h3>
    <div class="panel panel-body">
      <div style="height: 350px; overflow-y: hidden;position: relative;" id="chatscroll">
       
   <%= render 'chatlogs/chatlog' %>
   <%= render 'chatlogs/userlist' %>
   <%= render 'chatlogs/newpost' %>
  </row>
</div>
<% @chatsubscribe = "/#{@chat.id}/update" %>
<%= subscribe_to @chatsubscribe %>

<!-- subscribe to the current users list -->
<% @usersubscribe = "/#{@chat.id}/userupdate" %>
<%= subscribe_to @usersubscribe %>
<!-- end of user list subscription code -->
