<tr>
  <td height="70px" width="95%">

    <%= gravatar_for post.user %>
    <%= link_to post.user.name, post.user %>

    <div class="popover fade right in" style="display:inline-block;position:relative;">
      <div class="arrow"></div>
      <div class="popover-content">
        <%= post.post %>
      </div>
    </div>
  </td>
  <td>
    <p style="float: right;" class="small">
      <%= post.created_at.to_datetime.strftime('%H:%M %D')  %>
    </p>
  </td>
  <% if (chat.administrators.detect {|id| id == current_user.id}) then %>
  <td>
    <%= link_to "", chatlog_chatpost_path(chat, post), method: :delete, title: "Delete this post", class: "glyphicon glyphicon-remove", style: "float:right;margin-right:10px;padding-left:0px;margin-left:25px;" %>
  </td>
  <% end %>
</tr>