<row>
<div class="col-md-10 col-md-offset-1" style="padding-top:5px;">
<div class="panel panel-info" style="padding-bottom: 15px;padding-left: 10px;">
<div class="panel panel-body">
<%= form_for :chat, url: chat_path(@chat) do |f| %>
<ol class="formList">
  <li><%= f.label :name, "Name:" %> <%= f.text_field :username %></li>
  <li><%= f.label :content, "Message:" %> <%= f.text_area :post, :rows => 5 %></li>
  <li><%= submit_tag "Send" %></li>
</ol>
<% end %>
</div>
</div>
</div>
</row>
