<% provide(:title, 'Sign up') %>
<div class="signup">
  <row>
    <div class="col-md-6 col-md-offset-3" style="padding-top:5px;margin-top: 10%;">
      <div class="panel panel-default">
        <div class="panel panel-body" style="background-color: #fff;" align="center">
          <h1 class="form-signin-heading"><b>Sign up</b></h1>

<%= form_tag "/auth/identity/register" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages" style="color: red">
      <h4><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being created:</h4>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if params[:scriptname] != nil %>
  	<%= hidden_field_tag(:scene_id, params[:scene_id]) %>
    <div class="panel panel-default" style="width: 40%">
  	<div class="field">
    	<%= label_tag :scriptname %><br>
    	<%= text_field_tag :scriptname, params[:scriptname], class: "form-control" %>
  	</div></div>
  <% end %>
  <div class="field" style="width: 40%">
    <%= label_tag :name %><br>
    <%= text_field_tag :name, @identity.try(:name), class: "form-control" %>
  </div>
  <div class="field" style="width: 40%">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, @identity.try(:email), class: "form-control" %>
  </div>
  <div class="field" style="width: 40%">
    <%= label_tag :password %><br>
    <%= password_field_tag :password, nil, class: "form-control"  %>
  </div>
  <div class="field" style="width: 40%">
    <%= label_tag :password_confirmation %><br>
    <%= password_field_tag :password_confirmation, nil, class: "form-control"  %>
  </div><br>
  <%= submit_tag "Create my account", class: 'btn btn-large btn-primary' %>
<% end %>
        </div>
      </div>
    </div>
  </row>
</div>

