    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right active toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><a href="/">LivePost</a></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Open chats", chatlogs_path %></li>
        <li><%= link_to "New Chat", new_chatlog_path %></li>
        <% if signed_in? %>
          <hr>
          <li><%= link_to @current_user.name, @current_user %></li>
          <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
        <% else %>
        <hr>
        <li><%= link_to "Sign In", signin_path %></li>
        <% end %>
      </ul>
    </div>
    <!-- /Side Menu -->
    

    
    
<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>